{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/editstyle.css' %}"/>
    <link rel="shortcut icon" href="#">
    <style type="text/css">
         a { text-decoration: none; color: black; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:focus { text-decoration: none; }
        a:hover, a:active { text-decoration: none; }
    </style>

</head>



<div id="top">
    <h1>수정하기</h1>
</div>

<main>
    <form method="POST" class="post-form" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type=submit class="save btn btn-default">Save</button>
    </form>
</main>