{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/homestyle.css' %}"/>
</head>

<h1>넌 그럴때 뭐들어?</h1>



<main>
    <div id="m">
        <div id="link">
            <a href="{% url 'new' %}">나도 추천 할래</a>
        </div>
    </div>

    
        {% for post in posts_list %}
            <div class="for">
                <h3> {{ post.title }}</h3>
                <p class="date">{{ post.pub_date }}</p>
                <p class="content">{{ post.body|linebreaks }}</p>
            </div>   
        {% endfor %}
    
</main>