{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mydiary/css/homestyle.css' %}"/>
    <link rel="shortcut icon" href="#">
    <style type="text/css">
         /* a { text-decoration:none } */
         a { text-decoration: none; color: black; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:focus { text-decoration: none; }
        a:hover, a:active { text-decoration: none; }
    </style>

</head>

<div id="top">
    <div id="top-box">
        <img src="{% static 'mydiary/images/music.png' %}" alt="a cat listening to music" width="100px" height="100px" />
        <h1>넌 그럴때 뭐들어?</h1>
    </div>
        <p id="top-p">v-log 브금 찾는 사람 모여모여-!</p>
</div>


<main>
    <div id="m">
        <div id="link">
            <a href="{% url 'new' %}">나도 추천 할래</a>
        </div>
    </div>

    
    {% for post in posts_list %}
        <div class="for">
            <a href="{% url 'detail' index=post.pk %}"> {{ post.title }}</a><br>
        </div>   
    {% endfor %}
    
    
    
</main>