@font-face { font-family: 'KOMACON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Handon3gyeopsal600g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
    box-sizing: border-box;
    background-color: #f7f8f2;
    font-family: 'KOMACON';
    color: #4f4f4f;
}

#top{
    height: 130px;
    background-color: #fbe472;
}

#top h1{
    background-color: #fbe472;
    font-family: 'Handon3gyeopsal600g';
    color : #4f4f4f;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
}

main{
    width: 800px;
    margin: auto;
    
}

.date{
    text-align: right;
}

aside{
    width: 800px;
    margin: auto;
    display:flex;
    justify-content : flex-end;
}

/* a{
    background-color: #fbe472;
    border-radius: 5px;
    padding: 5px;

} */

#left-a, #left{
    background-color: #fbe472;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

#right-a{
    background-color: #fbe472;
    border-radius: 5px;
    padding: 5px;
}
