@font-face { font-family: 'KOMACON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Handon3gyeopsal600g'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
    box-sizing: border-box;
    background-color: #f7f8f2;
}

h1{
    background-color: #8683dd;
    height:130px;
    font-family: 'Handon3gyeopsal600g';
    text-align: center;
    font-size: 50px;
    color: #f7f8f2;
    line-height: 130px;

}

main{
    width: 800px;
    margin: auto;
}

button{
    text-align: right;
}